.timeline-container {
    margin-top: 3rem;
}


.timeline-card .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.timeline-card .icon-container img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.timeline-card h3 {
    font-size: 21px;
}

.timeline-card p {
    color: darkgray;
    margin: 0 0 1.25rem;
}

.timeline-card ul {
    margin-left: 1.25rem;
}

.timeline-card ul li {
    margin-bottom: 0.5rem;
    padding-left: 0.25rem;
    letter-spacing: 0.05em;
    font-size: 14px;
}


@media (max-width: 640px) {

    .timeline-card h3 {
        font-size: 16px;
    }

    .timeline-card ul li {
        font-size: 12px;
    }
}